<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <title>Home Page</title>
</head>
<body class="bg-gray-100">

  
  <!-- Navbar -->
  <nav class="bg-red-500 p-4  fixed w-full top-0 z-10" >
    <div class="container mx-auto flex justify-between items-center">
      <a href="" class="text-white text-xl font-bold">Your Logo</a>
      <ul class="flex space-x-4">
        <li><a href="/" class="text-white font-medium">Home</a></li>
        <li><a href="/admin" class="text-white font-medium">Admin</a></li>
        <li><a href="/student" class="text-white font-medium">Student</a></li>
        <li><a href="/add-student" class="text-white font-medium">Add Student</a></li>
      </ul>
    </div>
  </nav>


</body>
</html>
